name: ci
on:
  pull_request:
  push:
    branches:
    - main
    - develop
  schedule:
  - cron: '0 1 * * 1,3,5'

jobs:
  test-complete:
    name: Run test-complete
    env:
      BITBAKE_URL: https://git.openembedded.org/bitbake
      OECORE_URL: https://git.openembedded.org/openembedded-core
    runs-on: ubuntu-latest
    container: ghcr.io/antznin/bitbake-setup:latest
    steps:
    - uses: actions/checkout@v4

    - name: Restore bitbake
      id: cache-bitbake
      uses: actions/cache/restore@v4
      with:
        path: bitbake
        key: bitbake-git-

    - name: Restore oecore
      id: cache-oecore
      uses: actions/cache/restore@v4
      with:
        path: oecore
        key: oecore-git-

    - name: Checkout on last release
      run: |
        [ ! -d bitbake ] && git clone --single-branch $BITBAKE_URL bitbake
        [ ! -d oecore ] && git clone --single-branch $OECORE_URL oecore
        for project in bitbake oecore; do
          git -C $project fetch --tags
          git -C $project for-each-ref \
            --format="%(refname)" \
            "refs/tags/yocto-*.*" \
            | sort --version-sort \
            | tail -1 >${project}-tag
          echo "${project} checked out on $(cat ${project}-tag)"
          git -C $project checkout $(cat ${project}-tag)
        done

    - name: Test zsh shell completions
      run: ci/run

    - name: Save bitbake
      uses: actions/cache/save@v4
      with:
        path: bitbake
        key: bitbake-git-${{ hashFiles('**/bitbake-tag') }}

    - name: Save oecore
      uses: actions/cache/save@v4
      with:
        path: oecore
        key: oecore-git-${{ hashFiles('**/oecore-tag') }}
